@tailwind base;
@tailwind components;
@tailwind utilities;

.button-container {
  @apply flex flex-col items-center justify-center space-y-6 md:flex-row md:space-y-0 md:space-x-8;
}

.section-container {
  @apply max-w-6xl mx-auto text-center;
}

@layer base {
  h3 {
    @apply text-3xl md:text-5xl;
  }
}

body {
  background-image: url('../images/bg-header-desktop.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-image: url('../images/bg-header-mobile.png');
  }
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
